.NavButton {
  margin-right: 0.5rem;
  white-space: nowrap;
}

.Company {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  align-items: center;
}

.CompanyText {
  white-space: nowrap;
}

.Logo {
  margin: 1rem 1rem 1rem 0;
}

.ActionButton {
  white-space: nowrap;
}



