.BackgroundBox {
  position: absolute;
  transition: 0.2s;
  border-radius: 20px;
}

.BackgroundBoxHover {
  transition: 0.2s;
  height: 100%;
  width: 100%;
}

.Feature {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.FeatureImage {
  object-fit: cover;
  border-radius: 4px;
}