.BackgroundBox {
  position: absolute;
  opacity: 0.1;
  transition: 0.2s;
  border-radius: 20px;
}

.BackgroundBoxClickable:hover {
  transition: 0.2s;
  height: 100%;
  width: 100%;
}

.Feature {
  margin-top: 1rem;
  margin-bottom: 1rem;
}