.SiteMap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.SiteMapItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

.SiteMapDivider {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
}

.SiteMapText {
  margin: 0.25rem 0 0.25rem 0;
}