body {
  margin: 0px;
}

.MuiAppBar-colorDefault {
  background-color: white;
}

.CustomImage {
  object-fit: contain;
}

.BackgroundImage {
  object-fit: cover;
}

.FeatureImage {
  object-fit: cover;
  border-radius: inherit;
}